<h1>Listing photos</h1>

<a href="#/photos/new">New Photo</a>

<table id="photos-table">
  <tr>
    <th>Title</th>
    <th>Thumb</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>
