<h1>New photo</h1>

<form id="new-photo" name="photo" enctype="multipart/form-data">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="{{ title }}" >
    <label for="image"> image:</label>
    <input type="file" name="image" id="image">
  </div>

  <div class="actions">
    <input type="submit" value="Create Photo" />
  </div>

</form>

<a href="#/photos/index">Back</a>