<h1>New photo</h1>

<form id="new-photo" name="photo" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title" class="control-label"> Title:</label>
    <input class="form-control" type="text" name="title" id="title" value="{{ title }}" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="image" class="control-label"> Image:</label>
    <input type="file" name="image" id="image">
  </div>

  <div class="actions">
    <input type="submit" value="Create Photo" class="btn btn-primary" />
  </div>

</form>

<a href="#/photos/index">Back</a>