<h1>Edit photo</h1>

<form id="edit-photo" name="photo">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Photo" />
  </div>

</form>

<a href="#/index">Back</a>
