<h1>PhotoCritic</h1>

<% if user_signed_in? %>

<div id="photo-critic-app"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new PhotoCritic.Routers.PhotosRouter();
    Backbone.history.start();
  });
</script>

<% end %>