<h1>Home Page</h1>

<p>Welcome to The Photo Critic App.</p>

<p>Use this app in 3 easy steps:</p>

<ol>
  <li>Click on New Photo.</li>
  <li>Upload a photo.</li>
  <li>Wait up to one business day for your professional critique.</li>
</ol>

