<div id="photo-critic-nav">
  <ul class="nav nav-tabs">
    <li><a href="/" id="home-link">Home</a></li>
    <li><a href="/photos" id="photos-link">My Photos</a></li>
    <li><a href="/photos/new" id="new-link">New Photo</a></li>
  </ul>
</div>