<div id="photo-critic-nav">
  <ul class="nav nav-tabs">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/photos">My Photos</a></li>
    <li><a href="/photos/new">New Photo</a></li>
  </ul>
</div>